.HistoryBar{
    width:100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.HistoryText{
    overflow-wrap: normal;
    word-wrap: normal;
    position:relative;
    top: 70px;
    cursor: pointer;
    
}
.HistoryCard{
    box-shadow: 3px 3px 5px black;
    text-align: center;
    text-shadow: 1px 2px 5px black;
    background-repeat: no-repeat;
    opacity: 0.7;
    background-size: 220px;
    width: 180px;
    height:180px;
    background-color: rgb(136, 136, 179);
    background-position: center;
    padding:20px;
    margin:5px;
    border-radius: 2px;
    
}

.HistoryCard:hover{
    opacity:1;
}
.HistoryTitle{
    font-size: 1.1em;
    font-weight:bold;
}
.HistoryClose{
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    font-weight: bolder;
    width:20px;
    height:20px;
    background-color: #6161a9;
    position:relative;
    top:2px;
    
}
@media only screen and (max-device-width: 812px){
    .HistoryBar{
        top:812px;
    }
    .HistoryCard{
        font-size: 13px;
        width:100px;
        height:180px;
    }
    .HistoryText{
        top:20px;
    }
}