.MangaTitle{
    font-size: 30px;
    letter-spacing: 1px;
    font-family: bangers;
    color:white;
   
    cursor: pointer;
}
.MangaDescription{
    letter-spacing: .9px;
    font-family: bangers;
    color:#c5c723;
    max-height:160px;
    
    text-overflow: clip;
}
.MangaContainer{
    
    border: 5px solid #ffffad;
    border-radius: 5px;
    margin:15px 10px;
    padding:20px;
    max-height:200px;
    background-color: rgb(173, 215, 230);
    overflow-y: hidden;
}
.MangaContainer p{
    margin:auto;
}
.MangaAltTitles{
    list-style-type: none;
}
.MangaAltTitles li{
    font-size: 12px;
}
.MangaContainer:nth-child(odd){
   
    background-color:#290f52;
}
.MangaContainer:nth-child(even){

    background-color:rgb(44 23 74);
}