.MangaTitle{
    color:darkblue;
    font-size: 20px;
    cursor: pointer;
}
.MangaDescription{
    max-height:160px;
    color:black;
    text-overflow: clip;
}
.MangaContainer{
    padding:10px;
    padding: 10px 0;
    max-height:200px;
    background-color: rgb(173, 215, 230);
    overflow-y: hidden;
}
.MangaAltTitles{
    list-style-type: none;
}
.MangaAltTitles li{
    font-size: 12px;
}
.MangaContainer:nth-child(odd){
   
    background-color:#bcabd6;
}
.MangaContainer:nth-child(even){

    background-color:#a08bbe;
}